In [1]:
# set rules

#1.  set do not allow duplicate
#2.  sets have no indexing/ slicing
#3. sets dont allow mutable data types (no list)
#4. set itself is a mutable data type ( not possible 2d 3d)

In [2]:
s = {}
s

{}

In [3]:
type(s)

dict

In [5]:
# by default empty set is dic

s1= set()
type(s1)

set

In [6]:
s2 = {1,2,3,4}   # homogenous set
s2

{1, 2, 3, 4}

In [9]:
s3 = {1,5,6,4, "Hello", 4.5, True}    # heterogenous set
s3

{1, 4, 4.5, 5, 6, 'Hello'}

In [10]:
s4 = {1,1,2,2,34,15}    # no duplicate
s4

{1, 2, 15, 34}

In [11]:
s5 = {[1,2,3]}   # with list shows errors
s5

TypeError: unhashable type: 'list'

In [14]:
s6 = {(1,2,3),"Hello"}      # with str doesnt show errors
s6

{(1, 2, 3), 'Hello'}

In [15]:
s7 ={1,{2}}      # no mutabel set no 2d 3d 4d
s7

TypeError: unhashable type: 'set'

In [17]:
s2

{1, 2, 3, 4}

In [18]:
s2[0]     # no access and slicing , no editing in set

TypeError: 'set' object is not subscriptable

In [20]:
s2.add (6)    # can add into set
s2

{1, 2, 3, 4, 6}

In [21]:
# del, # remove # pop

In [23]:
del s1    # cannot del single item

NameError: name 's1' is not defined

In [24]:
s2

{1, 2, 3, 4, 6}

In [29]:
s2.remove(3)
s2

{1, 4, 6}

In [30]:
s2.pop()     # removed fist item because of hasting
s2

{4, 6}

In [31]:
# sets operations   no concate and multiplication

s1 = {1,2,2,5,4,6}

In [32]:
s2 ={2,5,6,5}

In [33]:
s1 + s2    # cannot concate in set ( can in list tuple str)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [34]:
for i in s1:     # loop works
    print (i)

1
2
4
5
6

In [36]:
1 in s1    # membership works

True

In [39]:
# set functions works len min max sorted 

min(s1)

1

In [40]:
max(s1)

6

In [43]:
len(s1)

5

In [42]:
sum(s1)

18

In [44]:
sorted(s1)

[1, 2, 4, 5, 6]

In [45]:
sorted(s1,reverse = True)

[6, 5, 4, 2, 1]

In [46]:
# sets specific functions only

s1

{1, 2, 4, 5, 6}

In [47]:
s2

{2, 5, 6}

In [48]:
s1.union(s2)    # only unique number

{1, 2, 4, 5, 6}

In [49]:
s1.intersection(s2)     # common number

{2, 5, 6}

In [51]:
s1.difference(s2)

{1, 4}

In [52]:
s2.difference(s1)

set()

In [53]:
s1.symmetric_difference(s2)

{1, 4}

In [54]:
s1.isdisjoint(s2)  # if no common items

False

In [55]:
s1.issubset(s2)

False

In [57]:
s1.issuperset(s2)

True