In [1]:
### create tuple

t =()
t

()

In [2]:
#homogenous tuple

t1 = (1,2,3)
t1

(1, 2, 3)

In [4]:
# heterogenous

t2 = (1,2,3,"upa")
t2

(1, 2, 3, 'upa')

In [5]:
# 2d tuple 3d

t3= (1,2,(3))
t3

(1, 2, 3)

In [7]:
t4 = (1)   
t4              # cant make single item tuple
type(t4)

int

In [8]:
# to make single item tuple ( use , at end)

t5 = ('hello',)
t5

('hello',)

In [9]:
t6 = tuple('upa')
t6

('u', 'p', 'a')

In [10]:
 ### access same as list
    
t2

(1, 2, 3, 'upa')

In [11]:
t2[0]

1

In [12]:
### edit cannot be changed, tuples are immutable

t2

(1, 2, 3, 'upa')

In [13]:
t2[0]= 33
t2

TypeError: 'tuple' object does not support item assignment

In [14]:
### del

t

()

In [17]:
del(t)

NameError: name 't' is not defined

In [19]:
### operations same

t3

(1, 2, 3)

In [22]:
t2

(1, 2, 3, 'upa')

In [23]:
t2 + t3

(1, 2, 3, 'upa', 1, 2, 3)

In [25]:
t2 * 3

(1, 2, 3, 'upa', 1, 2, 3, 'upa', 1, 2, 3, 'upa')

In [26]:
for i in t2:
    print(i)

1
2
3
upa

In [27]:
# functions

len(t2)

4

In [29]:
min(t3)

1

In [30]:
max(t3)

3

In [31]:
sum(t3)

6

In [32]:
sorted(t3)

[1, 2, 3]

In [33]:
sorted(t3,reverse=True)

[3, 2, 1]

In [ ]:
## tuples are immuatble , list are mutable

# tuples are read only

# use for data integerity